body {
  background-color: aliceblue;
}
.card-flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: white;
  height: 150px;
  width: 150px;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  /* css variable */
  transition: 150ms ease all;
  transform: perspective(1000px) rotateX(var(--rotate-x, 0));
  /* transform-style: preserve-3d; */
}

.flashcard:hover {
  box-shadow: 0 0px 2px 2px rgba(0, 0, 0, 0.5);
}


.flashcard .front,
.flashcard .back {
  position: absolute;
  padding: 10px;
}

.flashcard .back {
  transform: rotateX(-180deg)
}

.flashcard.flip {
  --rotate-x: 180deg;
}